.options{
    display: flex;
}

.textArea {
    
    resize: none;
}

.textArea .title{
    flex:1;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }